body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background:#f0f2f5;

}

header {
  background: #fff;
  color: rgb(0, 0, 139);
  padding: 15px;
  text-align: center;
  margin-top: 0px;
  height: 360px;
 background-image: url(hhhhh.png);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

.lg {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-left: 50px;
justify-content: center;
padding-right: 50px;
}

#l1 {
  padding-left: 15px;
  height: 150px;
  width: 200px;
}

#l2 {
  height: 150px;
  width: 250px;
  margin-top: 25px;


}

#l3 {
  height: 150px;
  width: 200px;
}

#l4 {
  height: 150px;
  width: 200px;
}

#l5 {
  height: 180px;
  width: 200px;
}

header img {
  margin-right: 1px;
  margin-left: 0px;
}

nav a {
  background-color: rgb(0, 0, 139);
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

main {
  padding: 30px;
  margin-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.notice-board {
  margin-top: 55px;
  background: rgb(52, 98, 191);
  padding-top: 1px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  color: white;

}

.stats {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
}

.company-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}



button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#news {
  color: rgb(204, 255, 0);
  padding-left: 10px;
}

.box {
  display: flex;
  background-color: rgb(223, 7, 14);
  width: 350px;
  height: 100px;
  border-radius: 2%;
  padding-left: 35px;
  padding-top: 25px;
  margin-bottom: 30px;
  margin-top: 50px;


}

#text1 {
  color: #f0f0f0;
  justify-content: center;
  font-size: 25px;

}

#text2 {
  color: #f0f0f0;
  justify-content: center;
  padding-left: 25px;
  font-size: 25px;

}

#totalEnrolled {
  color: white;
  padding-right: 20px;
  padding-top: 21px;
  padding-left: 3px;
  font-size: 30px;
}

#totalPlaced {
  color: white;
  padding-top: 22px;
  justify-content: center;
  padding-left: 3px;
  font-size: 30px;
}
#abouttext {
  color: white;
  background-color:rgb(52, 98, 191);
  border-radius: 5px;
  padding-left: 35px;
  padding-top: 25px;
  padding-right: 35px;
}

#registerBtn {
  background: #f58d1e;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;

}

input {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.hidden {
  display: none;
}

#successMessage {
  color: rgb(37, 157, 37);
  margin-top: 15px;
  font-weight: bold;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 0px;
}

.contact div {
  display: flex;
}

.contact a img {
  width: 30px;
  margin: 15px;
}

#head {
  height: 350px;

}

#n1 {
  justify-content: center;
  padding-top: 20px;
  font-size: 50px;
  font-weight: bolder;
}

.company {
  height: 150px;
  width: 700px;
  background-color: #fff;
  box-shadow: rgb(50, 50, 93, 0.25)0px 6px 12px -2px;
  position: relative;
  left: 5rem;
  top: 3rem;
  border-radius: 2rem;
   background: white;
  padding: 15px;
  border-radius: 8px;
}

.container {
  background-color: #fff;
  padding: 20px;
  width: 700px;
  height: 70px;
  border-radius: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25)0px 6px 12px -2px;
  position: relative;
  left: 5rem;
  top: 3rem;

}
.info{
  display: flex;
  flex-direction: row;
   height: 150px;
  width: 700px;
  background-color: #fff;
  box-shadow: rgb(50, 50, 93, 0.25)0px 6px 12px -2px;
  position: relative;
  left: 5rem;

  border-radius: 2rem;
}

.session1 {
  background-color:#fff;
  padding: 20px;
  width: 600px;
  height: 350px;
  border-radius: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25)0px 6px 12px -2px;
}

.session2 {
  background-color: #fff;
  padding: 20px;
  width: 600px;
  height: 350px;
  border-radius: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25)0px 6px 12px -2px;
}
#data{
  padding-top:5px;
  padding-bottom: 5px;
}

.placement-overview {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-top: 50px;
}
#pics{
  height: 300px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-top: 20px;
}
